<div class="mainContainer">
        <a class="back" [routerLink]="['/']">
            <img src="../assets/left-chevron.png">
            <p>Back</p>
        </a>
    <div class="formContainer">
        <form>
            <div class="formTitle">
                <label>Título</label>
                <input id="inputTitle" type="text" [(ngModel)]="titleTask" name="title" required placeholder="Add title..." (input)="verifyField()">
                <small class="warn" *ngIf="showTitleMessage"></small>
            </div>
            <div class="formDescription">
                <label>Descripción</label>
                <textarea id="inputDesc" type="text" [(ngModel)]="descriptionTask" (input)="verifyField()" name="description" required placeholder="Add description..." (keyup.enter)="addTask()"></textarea>
                <small class="warn" *ngIf="showDescMessage"></small>
            </div>
            <button (click)="addTask()" class="btnaddTask">Add</button>
        </form>
    </div>
</div>